<div class="container">
  <div class="row">
    <div class="span12 center pad20">
     <%= link_to "Back to Search", root_path, :class => 'button' %>
    </div>
  </div>
</div>
<% if !@response.empty? %>
  <%= render :partial => "main/shared/list_movies" %>
<% else %>
  <p>Sorry, but nothing found for that date</p>
<% end %>