<div class="container">
  <div class="row">
    <div class="span12 center pad20">
     <%= link_to "Back to Search", root_path, :class => 'links button' %>
    </div>
  </div>
</div>
<% if @movie %>
  <%= render :partial => "main/shared/single_movie" %>
<% end %>