<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span6">
            <ul id="linkLeft">
              <li><a href="#" target="_blank">Built by Fishplatestudios</a></li>
              <li></li>
            </ul>
          </div>
          <div class="span6">
            <ul id="linkRight">
              <li><a href="http://www.movieinsider.com/" target="_blank">Powered by MovieInsider</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>