<span id="top"></span>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">   
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

        <!-- Be sure to leave the brand out there if you want it shown -->

        <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <div id="navWrapper">
        <ul class="nav">
          <li><%= link_to "Reminders", reminders_path unless !current_user %></li>
          <li><i class="icon-lock icon-large"></i><%= display_login %></li>
          <li><%= link_to 'Sign up', new_user_registration_path if !current_user %></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <div class="row ">
      <div class="span12 mb20">
        <h1 class="mainTitle"><%= link_to "Movie Release Reminder", root_path %></h1>
      </div>
    </div>
  </div>
</header>