Hi <%= @user_email %>,
<p>You recently asked for a reminder when : <b><%= @movie_name %></b> is released. Well : <b><%= @movie_name %></b>is expected to be released tomorrow. We hope you enjoy the movie.</p>