/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* Fonts */

@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */


.mb20{
  margin-bottom:20px;
  text-align: center;
}

.mt20 {
  margin-top:20px;
}


.center {
  text-align: center;
}

.hpSearch {
  text-align: center;
}

.pad20{
  padding-top:20px;
}

.mainTitle {
  font-family: 'BebasRegular';
  color:#F2F9F9;
  font-weight: normal;
  display:inline-block;
  border-left:4px solid #FFBE00;
  padding-left:10px;
  word-spacing:10px;
}

.mainTitle a {
  color:#F2F9F9;
}

.mainTitle a:hover {
  color:#F2F9F9;
  text-decoration: none;
}

.smallTitle {
  color:#F2F9F9;
  text-align: center;
  font-family: 'BebasRegular';
  font-weight:normal;
  word-spacing:4px;
  display: inline-block;
  border-bottom:1px dotted #FFBE00;
  margin-bottom:10px;
  padding-bottom:3px;
}

.resultTitle {
  color:#F2F9F9;
  text-align: center;
  font-family: 'BebasRegular';
  font-weight:normal;
  word-spacing:4px;
  display: inline-block;
  border-bottom:1px dotted #FFBE00;
  margin-bottom:10px;
  padding-bottom:3px;

}

.smallTextYellow {
  color:#FFBE00;
  font-family: 'BebasRegular';
  font-style: italic;
  text-align: center;
  word-spacing: 4px;
}

.fontSize11 {
  font-size:1.1em;
}

.fontSize13 {
  font-size:1.3em;
}


.smallText {
    color: #FFFFFF;
    font-family: 'BebasRegular';
    font-style: italic;
    text-align: center;
    word-spacing: 4px;
}

.smallItalic {
  display:block;
  color:#FFFFFF;
  margin-bottom:5px;

}

.main {
  color:#898989;
  font-family: 'Georgia';
  line-height:24px;
  font-size:1.2em;
}

#searchWrapper {
  text-align: center;
}

/* SEARFORM (MOVIE BY NAME) */

#searchForm {
  background:#242426;
  text-align:center;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  margin-top:10px;
}

#searchForm input[type="image"] {
  margin-left:-40px;
  vertical-align: middle;
}
#searchForm input[type="text"] {
  width:80%;
  margin:10px auto;
  padding: 8px 10px;
  
}

/* Adding in styling for autocomplete gem */

li.ui-menu-item {
  list-style:none;
}

li.ui-menu-item a {

}

/*This provides info inside the form element*/
.ui-helper-hidden-accessible {
  display: none;
}


/* Results */

.results {
  list-style-type: none;
  margin:0px;
}

.bio {
  color:#fff;
  font-family:'Georgia';
}

/* Reminder table */

.respwrapper {
  display:none;
}

table.reminder {
  display:table;
  margin:0 auto;
}

.thread {
  color:  #F2F9F9;
  font-family: 'BebasRegular';
  font-weight:normal;
}

table.reminder td {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:8px;
  font-size: 1.2em;
}

/* FOOTER */


ul#linkLeft {
  
}

ul#linkLeft li {
  text-align:left;
  margin-top:15px;
}

ul#linkRight {
  

}

ul#linkRight li a , ul#linkLeft li a {
  color:#FFBE00;
}

ul#linkRight li  {
  text-align:right;
  margin-top:15px;
}

/* Media Queries */



@media all and (max-width: 1199px) {
 .thumbnail .caption.pull-right {
    width: 67%;
    padding:0px;
}


}

@media all and (max-width: 979px) {


  .thumbnail.clearfix > img.pull-left {
    float:none;
    margin: 10px auto;
  }

.thumbnail .caption.pull-right {
    padding: 0;
    width: 100%;
}

.smallTitle {
  display: block;
}

.resultTitle {
  display:block;
}

.button {
  display: block;
}



}


@media all and (max-width: 767px) {

.navbar {
    margin-left:-25px;
    margin-right:-25px;
  }

header, footer{
  margin-left:-25px;
  margin-right:-25px;
}

}

@media all and (min-width: 321px) and (max-width: 767px){

ul#linkLeft {
  float:left;
}

ul#linkRight {
  padding-right:10px;
}


}
@media all and (max-width: 480px) {

  .smallTitle {
    display:inline-block;
  }


  /* REMINDER TABLE */

table.reminder {
  display:none;
}

.respwrapper {
  display:block;
}

ul.resp{
  text-align: left;
  margin:0px;
}

ul.resp .button {
  margin:0 auto; 
  width:50%;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}

ul.resp span {
  width:30%;
  display:inline-block;
}

li.resp1{
  list-style-type:none;
  color:white;
  line-height:25px;
  font-family:'LatoRegular';
  font-size: 1.1em;
  text-align:center;
}

ul.resp li:first-child {
  margin-top:8px;
}



}

@media all and (max-width: 320px) {

  /* NAVIGATION BAR */

  #navWrapper {
  width:100%;
  margin:0 auto;
}


  /* Home Page */

  

  .mainTitle {
    width:81%;
  }

  input[type="submit"] {
    width:70%;
  }
  
  .thumbnail.clearfix > img.pull-left {
    float:none;
    margin: 10px auto;
  }

  .thumbnail .caption.pull-right {
    width: 100%;
    padding:0px;
}

 /* Results */


.smallTitle {
  display:inline-block;
  margin-bottom:0px;
  width:85%;
  margin:10px auto;
}

.bio {
  margin:0px 0px 10px auto;
  text-align:justify;
}

.thumbnail .caption.pull-right > .button {
  display:block;
}

h3.smallTitle {
  margin-bottom:5px;
}

/* REMINDER TABLE */

table.reminder {
  display:none;
}

.respwrapper {
  display:block;
}

ul.resp{
  text-align: left;
  margin:0px;
}

ul.resp .button {
  margin:0 auto; 
  width:50%;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}

ul.resp span {
  width:30%;
  display:inline-block;
}

li.resp1{
  list-style-type:none;
  color:white;
  line-height:25px;
  font-family:'LatoRegular';
  font-size: 1.1em;
  text-align:center;
}

/* FOOTER */

ul#linkLeft, ul#linkRight {
  margin:0px;
}


ul#linkRight li a , ul#linkLeft li a {
  font-size:0.875em;
}

ul#linkRight li, ul#linkLeft li  {
  text-align:center;
}


}